In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from scipy.stats import shapiro,normaltest
import seaborn as sns; sns.set()
import statsmodels.api as sm
from statsmodels.graphics.gofplots import qqplot
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv("F:\\Python work\\titanic\\weatherHistory.csv")
data

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [3]:
data.drop(columns=['Apparent Temperature (C)','Loud Cover','Formatted Date','Summary','Daily Summary'],inplace=True)
data

,Precip Type,Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars)
0,rain,9.472222,0.89,14.1197,251.0,15.8263,1015.13
1,rain,9.355556,0.86,14.2646,259.0,15.8263,1015.63
2,rain,9.377778,0.89,3.9284,204.0,14.9569,1015.94
3,rain,8.288889,0.83,14.1036,269.0,15.8263,1016.41
4,rain,8.755556,0.83,11.0446,259.0,15.8263,1016.51
...,...,...,...,...,...,...,...
96448,rain,26.016667,0.43,10.9963,31.0,16.1000,1014.36
96449,rain,24.583333,0.48,10.0947,20.0,15.5526,1015.16
96450,rain,22.038889,0.56,8.9838,30.0,16.1000,1015.66
96451,rain,21.522222,0.60,10.5294,20.0,16.1000,1015.95
96452,rain,20.438889,0.61,5.8765,39.0,15.5204,1016.16

In [4]:
df=pd.get_dummies(data,columns=['Precip Type'])
df

,Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Precip Type_rain,Precip Type_snow
0,9.472222,0.89,14.1197,251.0,15.8263,1015.13,1,0
1,9.355556,0.86,14.2646,259.0,15.8263,1015.63,1,0
2,9.377778,0.89,3.9284,204.0,14.9569,1015.94,1,0
3,8.288889,0.83,14.1036,269.0,15.8263,1016.41,1,0
4,8.755556,0.83,11.0446,259.0,15.8263,1016.51,1,0
...,...,...,...,...,...,...,...,...
96448,26.016667,0.43,10.9963,31.0,16.1000,1014.36,1,0
96449,24.583333,0.48,10.0947,20.0,15.5526,1015.16,1,0
96450,22.038889,0.56,8.9838,30.0,16.1000,1015.66,1,0
96451,21.522222,0.60,10.5294,20.0,16.1000,1015.95,1,0
96452,20.438889,0.61,5.8765,39.0,15.5204,1016.16,1,0

In [5]:
df.dropna(inplace=True)
df.isnull().sum()

Temperature (C)           0
Humidity                  0
Wind Speed (km/h)         0
Wind Bearing (degrees)    0
Visibility (km)           0
Pressure (millibars)      0
Precip Type_rain          0
Precip Type_snow          0
dtype: int64

In [6]:
df.drop(columns=['Precip Type_snow'],inplace=True)
df

,Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Precip Type_rain
0,9.472222,0.89,14.1197,251.0,15.8263,1015.13,1
1,9.355556,0.86,14.2646,259.0,15.8263,1015.63,1
2,9.377778,0.89,3.9284,204.0,14.9569,1015.94,1
3,8.288889,0.83,14.1036,269.0,15.8263,1016.41,1
4,8.755556,0.83,11.0446,259.0,15.8263,1016.51,1
...,...,...,...,...,...,...,...
96448,26.016667,0.43,10.9963,31.0,16.1000,1014.36,1
96449,24.583333,0.48,10.0947,20.0,15.5526,1015.16,1
96450,22.038889,0.56,8.9838,30.0,16.1000,1015.66,1
96451,21.522222,0.60,10.5294,20.0,16.1000,1015.95,1
96452,20.438889,0.61,5.8765,39.0,15.5204,1016.16,1

In [7]:
rfr=RandomForestClassifier()
lr=LogisticRegression()

In [8]:
exp_tup={0:(lr,'LogisticRegressor'),1:(rfr,'RandomForestClassifier')}

In [9]:
x=df.drop('Precip Type_rain',axis=1)

In [10]:
y=df['Precip Type_rain']

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=7)

In [12]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, f1_score

In [13]:
res_ls = []
for k in exp_tup.keys():
    model = exp_tup[k][0]
    name = exp_tup[k][1]
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    accuracy = accuracy_score(y_test, y_pred)
    res_ls.append((name, precision,recall,accuracy))
res_df = pd.DataFrame(res_ls)
res_df.columns = ['model', 'precision','recall','accuracy']
res_df.sort_values('precision', inplace=True)

In [14]:
result=pd.DataFrame(res_df)

In [15]:
result

                    model  precision    recall  accuracy
0       LogisticRegressor    0.98917  0.995023  0.986004
1  RandomForestClassifier    0.99594  0.999647  0.996095

In [16]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.97      0.98      3418
           1       1.00      1.00      1.00     25518

    accuracy                           1.00     28936
   macro avg       1.00      0.98      0.99     28936
weighted avg       1.00      1.00      1.00     28936